*
{
	margin: 0px 0px 0px 0px;
	padding: 0;
}

@font-face {
	font-family: lora;
	src: url(Lora-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: lorabold;
	src: url(Lora-Medium.ttf);
	font-weight: bold;
}

@font-face {
	font-family: lora;
	src: url(Lora-Italic.ttf);
	font-style: italic;
}

body {
	font-size: 100%;
	font-family: lora;
	margin: 80px 80px 80px;
	max-width: 1000px;
	-webkit-text-size-adjust: 130%;
}

h1 {
	margin: 00px 0px 30px; 
	font-size: 250%;
	font-family: lora;
}

h2 {
	margin: 0px 0px 20px;
	font-size: 150%;
	font-family: lora;
}

h3 {
	margin: 0px 0px 5px;
	font-size: 100%;
	font-family: lora;
	font-style: italic;
}

p {
	margin: 5px 0px 5px;
	font-family: lora;
	font-size: 100%;
	font-style: normal;
}

@font-face {
	font-family: literata;
	src: url(Literata-Regular.ttf);
}

@font-face {
	font-family: notoSerif;
	src: url(NotoSerif-Regular.ttf);
}
/*p:lang(el) {
	font-family: notoSerif;
	src: url(NotoSerif-Regular.ttf);
	font-weight: normal;
}*/

:lang(el) {
	font-family: notoSerif;
	/*src: url(Literata-Regular.ttf);*/
	/*font-weight: normal;*/
}
/*:lang(el2) {
	font-family: literata;
}*/

ol {
	padding-inline-start: 40px;
}

ul {
	padding-inline-start: 40px;
}

li {
	margin: 8px 0px 8px;
}

a:link {
    color: #496499;
    text-decoration:none;
}

a:hover {
	color: #758cba;
    text-decoration:none;
}

a:visited {
    color: #496499;
    text-decoration:none;
}

a:visited:hover {
    color: #758cba;
    text-decoration:none;
}
